<nav class="light lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ site.url }}" class="brand-logo">{{ site.name }}</a>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.url }}/features/">Features</a></li>
        <li><a href="{{ site.url }}/pricing/">Pricing</a></li>
        <li><a href="{{ site.url }}/screenshots/">Screenshots</a></li>
        <li><a href="#live-demo" class="modal-trigger">Demo</a></li>
        <li><a href="{{ site.url }}/faq/">FAQ</a></li>
        <li><a href="{{ site.url }}/contact.html">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ site.url }}/features/">Features</a></li>
        <li><a href="{{ site.url }}/pricing/">Pricing</a></li>
        <li><a href="{{ site.url }}/screenshots/">Screenshots</a></li>
        <li><a href="#live-demo" class="modal-trigger">Demo</a></li>
        <li><a href="{{ site.url }}/faq/">FAQ</a></li>
        <li><a href="{{ site.url }}/contact.html">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
